# Default configuration file for our file system integration tests.
#
# The purpose of this file (in source control) demonstrates  
# which settings each file system needs. Note that not every file
# system requires settings.
#
# ***IMPORTANT***
# DO NOT push any user names or secrets to git!!!
#
# Best practice is to copy this file to any location on your disk 
# and make an environment variable named 'KNIME_FS_TEST_PROPERTIES'
# point to it. This file can be populated with your credentials for
# testing.
#
# This file should only be updated when a new file system has been 
# implemented or an existing one has been modified. Then the file 
# system specific properties should be listed and checked in to 
# source control with dummy values.
#

# Limits the integration tests to only one file system. The currently available file systems are:
#   local
#   knime-local-relative-workflow
#   knime-local-relative-mountpoint
#   knime-relative-workflow-data
#   knime-rest-relative-workflow
#   knime-rest-relative-mountpoint
#   knime-rest
#   amazon-s3
#   google-cs
#   microsoft-sharepoint
#   microsoft-blobstorage
#   ssh
# test-fs = local

################## Test fixtures for workflow tests ##################
# A local directory that contains test fixtures for workflow tests. If set, the "Create Test File
# System Connection" node will copy the fixtures to the file system under test, into a directory called "fixtures"
# below the working directory. Note that the fixtures being copied can be limited using the
# "Create Test File System Connection" node.
#
# fixture-dir = 


################ KNIME: REST file system (connects to Server and Hub) ################
knime-rest.workingDirPrefix = <PATH-IN-SERVER-REPO>
# Example url: http://localhost:8080/knime/rest/v4/repository
knime-rest.url = <REST-URL>
knime-rest.user = <USERNAME>
knime-rest.pass = <PASSWORD>

################ KNIME: Server-side mountpoint-relative file system (connects to Server)  #######
knime-rest-relative-mountpoint.workingDirPrefix = <PATH-IN-SERVER-REPO>
# Example url: http://localhost:8080/knime/rest/v4/repository
knime-rest-relative-mountpoint.url = <REST-URL>
knime-rest-relative-mountpoint.user = <USERNAME>
knime-rest-relative-mountpoint.pass = <PASSWORD>

################ KNIME: Server-side workflow-relative file system (connects to Server)  ########
knime-rest-relative-workflow.workingDirPrefix = <PATH-IN-SERVER-REPO>
# Example url: http://localhost:8080/knime/rest/v4/repository
knime-rest-relative-workflow.url = <REST-URL>
knime-rest-relative-workflow.user = <USERNAME>
knime-rest-relative-workflow.pass = <PASSWORD>

################ Amazon S3 ################ 
amazon-s3.workingDirPrefix = /knime-s3-file-handling-v2-test-temp
amazon-s3.region = eu-west-1
amazon-s3.accessKeyId = <YOUR-ACCESS_KEY-ID>
amazon-s3.accessKeySecret = <SECRET-FOR-YOUR-ACCESS-KEY>
amazon-s3.roleSwitchAccount = <YOUR-S3-SWITCH_ROLE-ACCOUNT>
amazon-s3.roleSwitchName = <ROLE-TO-SWITCH-TO>

################ Google Cloud Storage ################
google-cs.workingDirPrefix = /knime-filehandling-test-bucket
google-cs.email = <YOUR-SERVICE-ACCOUNT-EMAIL>
google-cs.keyFilePath = <P12-KEY-FILE-LOCATION>
google-cs.projectId = <PROJECT-ID>

################ Microsoft SharePoint Online ################
microsoft-sharepoint.workingDirPrefix = /knime-filehandling-test-drive
microsoft-sharepoint.siteWebURL = https://knimedev.sharepoint.com/
microsoft-sharepoint.username = <USERNAME>
microsoft-sharepoint.password = <PASSWORD>
microsoft-sharepoint.tenant = <TENANT-ID>

################ Microsoft Azure Blob Storage  ################
microsoft-blobstorage.workingDirPrefix = /knime-filehandling-test-container
microsoft-blobstorage.account = <STORAGE-ACCOUNT>
microsoft-blobstorage.key = <STORAGE-ACCOUNT-KEY>

################ SSH ###################
ssh.workingDirPrefix = <PATH-ON-SSH-SERVER>
ssh.host = <HOST>
ssh.username = <USERNAME>
ssh.password = <PASSWORD>
