<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            after="connectors"
            description="Utility nodes to work with files and folders"
            icon="icons/c_fileFolderUtility16x16.png"
            level-id="f-f-util"
            name="File Folder Utility"
            path="/io/">
      </category>
      <category
            description="Nodes to handle archives"
            icon="icons/c_archive16x16.png"
            level-id="archive"
            name="Archive (zip, tar, ...)"
            path="/io/f-f-util">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/io/f-f-util/archive"
            deprecated="false"
            factory-class="org.knime.filehandling.utility.nodes.compress.CompressNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/io/f-f-util"
            deprecated="false"
            factory-class="org.knime.filehandling.utility.nodes.createpaths.CreatePathVariablesNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/io/f-f-util/archive"
            deprecated="false"
            factory-class="org.knime.filehandling.utility.nodes.decompress.DecompressNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/io/f-f-util"
            deprecated="false"
            factory-class="org.knime.filehandling.utility.nodes.deletepaths.filechooser.DeleteFilesAndFoldersNodeFactory"
            hidden="false">
      </node>
	  <node
            category-path="/io/f-f-util"
            deprecated="false"
            factory-class="org.knime.filehandling.utility.nodes.deletepaths.table.DeleteFilesAndFoldersTableNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/io/f-f-util"
            deprecated="false"
            factory-class="org.knime.filehandling.utility.nodes.dir.CreateDirectory2NodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/io/f-f-util"
            deprecated="false"
            factory-class="org.knime.filehandling.utility.nodes.listpaths.ListFilesAndFoldersNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/io/f-f-util"
            deprecated="false"
            factory-class="org.knime.filehandling.utility.nodes.metainfo.FileFolderMetaInfoNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/io/f-f-util"
            deprecated="false"
            factory-class="org.knime.filehandling.utility.nodes.pathtostring.PathToStringNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/io/f-f-util"
            deprecated="false"
            factory-class="org.knime.filehandling.utility.nodes.pathtostring.variable.PathToStringVariableNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/io/f-f-util"
            deprecated="false"
            factory-class="org.knime.filehandling.utility.nodes.stringtopath.StringToPathNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/io/f-f-util"
            deprecated="false"
            factory-class="org.knime.filehandling.utility.nodes.stringtopath.variable.StringToPathVariableNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/io/f-f-util"
            deprecated="false"
            factory-class="org.knime.filehandling.utility.nodes.tempdir.CreateTempDir2NodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/io/f-f-util"
            deprecated="false"
            factory-class="org.knime.filehandling.utility.nodes.transfer.TransferFilesNodeFactory"
            hidden="false">
      </node>
   </extension>
   <extension
         point="org.knime.core.NodeFactoryClassMapper">
      <NodeFactoryClassMapper
            classMapper="org.knime.filehandling.utility.nodes.UtilityNodeFactoryClassMapper">
      </NodeFactoryClassMapper>
   </extension>

</plugin>
