<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.knime.filehandling.core.MountPointFileSystemAccess" name="MountPointFileSystemAccess" schema="schema/org.knime.filehandling.core.MountPointFileSystemAccess.exsd"/>
   <extension-point id="org.knime.filehandling.core.FSConnectionProvider" name="FSConnectionProvider" schema="schema/org.knime.filehandling.core.FSConnectionProvider.exsd"/>
   <extension-point id="org.knime.filehandling.FSTestInitializerProvider" name="FSTestInitializerProvider" schema="schema/org.knime.filehandling.core.FSTestInitializerProvider.exsd"/>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/cfilehandling16x16.png"
            level-id="file-handling-prototype"
            locked="true"
            name="File Handling (Labs)"
            path="/labs/">
      </category>
      <category
            icon="icons/io.png"
            level-id="file-handling-IO"
            locked="true"
            name="IO"
            path="/labs/file-handling-prototype">
      </category>
      <category
            icon="icons/write.png"
            level-id="file-handling-Write"
            locked="true"
            name="Write"
            path="/labs/file-handling-prototype/file-handling-IO">
      </category>
      <category
            icon="icons/read.png"
            level-id="file-handling-Read"
            locked="true"
            name="Read"
            path="/labs/file-handling-prototype/file-handling-IO">
      </category>
      <category
            icon="icons/cfilehandling16x16.png"
            level-id="file-handling-Other"
            locked="true"
            name="Other"
            path="/labs/file-handling-prototype/file-handling-IO">
      </category>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#178BA5"
            hidden="false"
            name="File System"
            objectClass="org.knime.filehandling.core.port.FileSystemPortObject"
            objectSerializer="org.knime.filehandling.core.port.FileSystemPortObject$Serializer"
            specClass="org.knime.filehandling.core.port.FileSystemPortObjectSpec"
            specSerializer="org.knime.filehandling.core.port.FileSystemPortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension
         point="org.knime.core.DataType">
      <DataType
            cellClass="org.knime.filehandling.core.data.location.cell.FSLocationCell">
         <serializer
               cellClass="org.knime.filehandling.core.data.location.cell.FSLocationCell"
               serializerClass="org.knime.filehandling.core.data.location.cell.FSLocationCell$PathSerializer">
         </serializer>
      </DataType>
   </extension>
   <extension
         point="org.knime.core.DataColumnMetaDataType">
      <DataColumnMetaData
            dataColumnMetaDataExtension="org.knime.filehandling.core.data.location.FSLocationValueMetaDataExtension">
      </DataColumnMetaData>
   </extension>
   <extension
         point="org.knime.core.DataValueRenderer">
      <dataValue
            valueClass="org.knime.filehandling.core.data.location.FSLocationValue">
         <renderer
               rendererFactoryClass="org.knime.filehandling.core.data.location.FSLocationValueRenderer$PathFactory"
               suggestAsDefault="true">
         </renderer>
         <renderer
               rendererFactoryClass="org.knime.filehandling.core.data.location.FSLocationValueRenderer$CompleteLocationFactory"
               suggestAsDefault="false">
         </renderer>
      </dataValue>
   </extension>
   <extension
         point="org.knime.core.FlowVariableType">
      <VariableType
            extension="org.knime.filehandling.core.data.location.variable.FSLocationVariableType$FSLocationVariableTypeExtension">
      </VariableType>
      <VariableType
            extension="org.knime.filehandling.core.data.location.variable.FSLocationSpecVariableType$FSLocationSpecVariableTypeExtension">
      </VariableType>
   </extension>
</plugin>
