<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.knime.filehandling.core.MountPointIDProvider" name="MountPointIDProvider" schema="schema/org.knime.filehandling.core.MountPointIDProvider.exsd"/>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/cfilehandling16x16.png"
            level-id="file-handling-prototype"
            locked="true"
            name="File Handling (Prototype)"
            path="/labs/">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/file-handling-prototype"
            factory-class="org.knime.filehandling.core.nodes.localfsconnection.LocalFSConnectionNodeFactory">
      </node>
   </extension>

</plugin>
