# Default configuration file for our file system integration tests.
#
# The purpose of this file (in source control) demonstrates  
# which settings each file system needs. Note that not every file
# system requires settings.
#
# ***IMPORTANT***
# DO NOT push any user names or secrets to git!!!
#
# Best practice is to copy this file to any location on your disk 
# and make an environment variable named 'KNIME_FS_TEST_PROPERTIES'
# point to it. This file can be populated with your credentials for
# testing.
#
# This file should only be updated when a new file system has been 
# implemented or an existing one has been modified. Then the file 
# system specific properties should be listed and checked in to 
# source control with dummy values.
#

# Sets the file system to test. The currently available file systems are:
#   local
#   knime-local-relative-workflow
#   knime-local-relative-mountpoint
#   knime-rest-relative-workflow
#   knime-rest-relative-mountpoint
#   knime-rest
#   amazon-s3
#   google-cs
#   microsoft-sharepoint
#
# For integration tests this setting is optional. If not set, all available file systems will be tested.
# For workflow tests this setting is mandatory (required by the "Create Test File System Connection" node).
#
# test-fs = local

################## Test fixtures for workflow tests ##################
# An optional settings that specifies a local directory that contains test fixtures for workflow tests.
# If set, the "Create Test File System Connection" node will copy the fixtures to the file system under
# test, into a directory called "fixtures" below the working directory.
# Note that to be copied, a fixture file must also match a file filter that is specified in the node
# settings of the "Create Test File System Connection" node.
#
# fixture-dir = /home/bjoern/git/knime-filehandling-test-fixtures


################ KNIME: REST file system (connects to Server and Hub) ################
knime-rest.workingDirPrefix = /unit-tests
# Example url: http://localhost:8080/knime/rest/v4/repository
knime-rest.url = <SERVER-OR-HUB-REST-ENDPOINT>
knime-rest.user = <SERVER-OR-HUB-USERNAME>
knime-rest.pass = <SERVER-OR-HUB-PASSWORD>

################ KNIME: Server-side mountpoint-relative file system (connects to Server)  #######
knime-rest-relative-mountpoint.workingDirPrefix = /unit-tests-mountpoint-relative
# Example url: http://localhost:8080/knime/rest/v4/repository
knime-rest-relative-mountpoint.url = <SERVER-REST-ENDPOINT>
knime-rest-relative-mountpoint.user = <SERVER-USERNAME>
knime-rest-relative-mountpoint.pass = <SERVER-PASSWORD>

################ KNIME: Server-side workflow-relative file system (connects to Server)  ########
knime-rest-relative-workflow.workingDirPrefix = /unit-tests-workflow-relative
# Example url: http://localhost:8080/knime/rest/v4/repository
knime-rest-relative-workflow.url = <SERVER-REST-ENDPOINT>
knime-rest-relative-workflow.user = <SERVER-USERNAME>
knime-rest-relative-workflow.pass = <SERVER-PASSWORD>

################ Amazon S3 ################ 
amazon-s3.workingDirPrefix = /knime-s3-file-handling-v2-test-temp
amazon-s3.region = eu-west-1
amazon-s3.accessKeyId = <YOUR-ACCESS_KEY-ID>
amazon-s3.accessKeySecret = <SECRET-FOR-YOUR-ACCESS-KEY>
amazon-s3.roleSwitchAccount = <YOUR-S3-SWITCH_ROLE-ACCOUNT>
amazon-s3.roleSwitchName = <ROLE-TO-SWITCH-TO>

################ Google Cloud Storage ################
google-cs.workingDirPrefix = /knime-filehandling-test-bucket
google-cs.email = <YOUR-SERVICE-ACCOUNT-EMAIL>
google-cs.keyFilePath = <P12-KEY-FILE-LOCATION>
google-cs.projectId = <PROJECT-ID>

################ Microsoft SharePoint Online ################
microsoft-sharepoint.username = <USERNAME>
microsoft-sharepoint.password = <PASSWORD>
microsoft-sharepoint.tenant = <TENANT-ID>
microsoft-sharepoint.siteWebURL = https://knimedev.sharepoint.com/
microsoft-sharepoint.workingDirPrefix = /knime-filehandling-test-drive
