<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.knime.filehandling.core.FSDescriptorProvider">
      <FSDescriptorProvider
            class="org.knime.filehandling.core.fs.local.fs.LocalFSDescriptorProvider">
      </FSDescriptorProvider>
      <FSDescriptorProvider
            class="org.knime.filehandling.core.fs.knime.mountpoint.MountpointFSDescriptorProvider">
      </FSDescriptorProvider>
      <FSDescriptorProvider
            class="org.knime.filehandling.core.fs.knime.local.mountpoint.LocalMountpointFSDescriptorProvider">
      </FSDescriptorProvider>
      <FSDescriptorProvider
            class="org.knime.filehandling.core.fs.url.URIFSDescriptorProvider">
      </FSDescriptorProvider>
      <FSDescriptorProvider
            class="org.knime.filehandling.core.fs.knime.local.relativeto.fs.LocalRelativeToMountpointFSDescriptorProvider">
      </FSDescriptorProvider>
      <FSDescriptorProvider
            class="org.knime.filehandling.core.fs.knime.local.relativeto.fs.LocalRelativeToWorkflowFSDescriptorProvider">
      </FSDescriptorProvider>
      <FSDescriptorProvider
            class="org.knime.filehandling.core.fs.knime.local.relativeto.fs.LocalRelativeToWorkflowDataFSDescriptorProvider">
      </FSDescriptorProvider>
      <FSDescriptorProvider
            class="org.knime.filehandling.core.fs.knime.relativeto.RelativeToMountpointFSDescriptorProvider">
      </FSDescriptorProvider>
      <FSDescriptorProvider
            class="org.knime.filehandling.core.fs.knime.relativeto.RelativeToWorkflowFSDescriptorProvider">
      </FSDescriptorProvider>
   </extension>
   
   <extension point="org.knime.workbench.repository.nodes">
      <node
            category-path="/io/connectors"
            factory-class="org.knime.filehandling.core.fs.local.node.LocalConnectorNodeFactory"/>
      <node
            category-path="/io/connectors"
            factory-class="org.knime.filehandling.core.fs.knime.node.dataarea.WorkflowDataAreaConnectorNodeFactory"/>
      <node
            category-path="/io/connectors"
            factory-class="org.knime.filehandling.core.fs.knime.mountpoint.node.MountpointConnectorNodeFactory">
      </node>
   </extension>
</plugin>
